{
    "parser": "typescript",
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "endOfLine": "auto",
    "tabWidth": 4,
    "useTabs": true,
    "printWidth": 120,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "jsxBracketSameLine": false,
    "proseWrap": "preserve"
}
